Options +MultiViews +FollowSymLinks +Indexes

<files .htaccess>
  order allow,deny
  deny from all
</files>

DirectoryIndex index.php
AddType application/x-httpd-php .php

##
# Rewrite
##
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+\.php)$(.+)$ $1/$2 [L,QSA]
