Source: spxops
Section: unknown
Priority: optional
Maintainer: Thomas Gouverneur <thomas@espix.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.2.1

Package: spxops
Architecture: all
Depends: apache2, php, libapache2-mod-php7.0, php-cli, php-curl, php-mcrypt, php-pear, php-dev, php-xml, dh-php, git, liblua5.1-dev, libssh2-1-dev, ${misc:Depends}
Description: SPXOps
