<?php
/**
 * File used to store application settings
 * @author Gouverneur Thomas <tgo@espix.net>
 * @copyright Copyright (c) 2007-2012, Gouverneur Thomas
 * @version 1.0
 * @package includes
 * @subpackage config
 * @category config
 */

$config['rootpath'] = '/srv/spxops';
$config['sitename'] = 'SPXOps';
$config['agentname'] = 'hostname';

/* Database */
$config['mysql']['host'] = 'localhost';
$config['mysql']['user'] = 'spxops';
$config['mysql']['pass'] = '';
$config['mysql']['port'] = 3306;
$config['mysql']['db'] = 'spxops';

/* MySQL Debug mode, comment to disable. */
//$config['mysql']['DEBUG'] = $config['rootpath'].'/logs/mysql-debug.log';
$config['mysql']['DEBUG'] = FALSE;
$config['mysql']['ERRLOG'] = $config['rootpath'].'/logs/mysql-error.log';
$config['mysql']['LOGNULL'] = FALSE;

$config['curl']['timeout'] = 10;
$config['curl']['proxy'] = '';

$config['webgui']['time'] = true;

/* Users */
$config['minpassword'] = 5;

/* Logging */
$config['spxopsd']['log'] = $config['rootpath'].'/logs/spxopsd.log';
@require_once($config['rootpath'].'/libs/logger.obj.php');
Logger::logLevel(LLOG_ERR);
Logger::logLevel(LLOG_WARN);
Logger::logLevel(LLOG_INFO);

if ($config['webgui']['time']) {
 $start_time = microtime();
 $start_time = explode(' ',$start_time);
 $start_time = $start_time[1] + $start_time[0];
}

/* Network daemon */
$config['server']['enabled'] = false;
$config['server']['rrdpath'] = $config['rootpath'].'/rrd'; 
$config['server']['ipaddr'] = '0.0.0.0';
$config['server']['port'] = 2142;
/* @TODO: fix key generation */
$config['server']['key'] = '157d7c000573526a30991bff2ad6b8ee157d7c000573526a30991bff2ad6b8ee';

?>
