.modal.large {
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

.tdsuccess {
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

.tdwarning {
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}

.tddanger {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.tdinfo {
  background-color: #d9edf7;
  border: 1px solid #ddd;
}

.tdinfo a, .tdinfo a:visited {
  color: #337ab7;
}
.tdsuccess a, .tdsuccess a:visited {
  color: #468847;
}
.tdwarning a, .tdwarning a:visited {

  color: #C09853;
}
.tddanger a, .tddanger a:visited {
  color: #B94A48;
}

.table-dashboard td {
   text-align: center;   
}

.graphdiv {
  min-height: 300px;
}
